sudo: required
language: python
python: '3.6'

services:
  - docker

install:
  - source .env
  - pip install pipenv
  - pipenv install --dev

script: 
  - pytest

before_deploy:
  python setup.py sdist;
  bbt-distcopy dist/ docker/dist/;
  bbt-distcopy config/ docker/config/;
  docker login -u ${DOCKER_USER} -p ${DOCKER_PASSWORD};
  docker run --rm --privileged multiarch/qemu-user-static:register --reset;

deploy:
  # Deploy "latest" and version tag to Docker Hub on tagged commits
  - provider: script
    script:
      bbt-deploy-docker
      --no-cache
      --context docker
      --file amd/Dockerfile
      --name ${DOCKER_REPO}
      --tags latest $(git describe --tags)
      &&
      bbt-deploy-docker
      --no-cache
      --context docker
      --file arm/Dockerfile
      --name ${DOCKER_REPO}
      --tags rpi-latest rpi-$(git describe --tags)
    skip_cleanup: true
    on:
      tags: true

  # Deploy branch to Docker Hub on any push to an upstream development branch
  - provider: script
    script:
      bbt-deploy-docker
      --no-cache
      --context docker
      --file amd/Dockerfile
      --name ${DOCKER_REPO}
      --tags ${TRAVIS_BRANCH}
      &&
      bbt-deploy-docker
      --no-cache
      --context docker
      --file arm/Dockerfile
      --name ${DOCKER_REPO}
      --tags rpi-${TRAVIS_BRANCH}
    skip_cleanup: true
    on:
      tags: false
      repo: ${GITHUB_REPO}
      all_branches: true
      condition: ${TRAVIS_BRANCH} != master

  # Deploy to PyPi on any push to an upstream branch
  - provider: pypi
    user: ${PYPI_USER}
    password: ${PYPI_PASSWORD}
    skip_existing: true
    skip_cleanup: true
    on:
      repo: ${GITHUB_REPO}
      all_branches: true
