sudo: required
language: python
python: '3.6'

services:
  - docker

env:
  global:
    # Both docker and github repo names are case sensitive
    - DOCKER_REPO=brewblox/brewblox-service
    - GITHUB_REPO=BrewBlox/brewblox-service

install: pip install tox docker

script: tox

before_deploy:
  chmod +x ./distcopy.sh
  && ./distcopy.sh ./docker/pkg
  && ./distcopy.sh ./rpi-docker/pkg
  && docker login -u "$DOCKER_USER" -p "$DOCKER_PASSWORD"
  && docker run --rm --privileged multiarch/qemu-user-static:register --reset

deploy:

  # Deploy to PyPi on tagged commits
  - provider: pypi
    user: $PYPI_USER
    password: $PYPI_PASSWORD
    skip_cleanup: true
    on:
      tags: true

  # Deploy dev version to PyPi on any push to an upstream branch
  - provider: pypi
    user: $PYPI_USER
    password: $PYPI_PASSWORD
    skip_cleanup: true
    on:
      tags: false
      repo: $GITHUB_REPO
      all_branches: true

  # Deploy "latest" and version tag to Docker Hub on tagged commits
  - provider: script
    script:
      python3 -u ./deploy_docker.py
      --image docker
      --name "$DOCKER_REPO"
      --tags latest $(git describe --tags)
      &&
      python3 -u ./deploy_docker.py
      --image rpi-docker
      --name "$DOCKER_REPO"
      --tags rpi-latest rpi-$(git describe --tags)
    skip_cleanup: true
    on:
      tags: true

  # Deploy branch to Docker Hub on any push to an upstream branch
  - provider: script
    script:
      python3 -u ./deploy_docker.py 
      --image docker
      --name "$DOCKER_REPO"
      --tags "$TRAVIS_BRANCH"
      &&
      python3 -u ./deploy_docker.py 
      --image rpi-docker
      --name "$DOCKER_REPO"
      --tags rpi-$TRAVIS_BRANCH
    skip_cleanup: true
    on:
      tags: false
      repo: $GITHUB_REPO
      all_branches: true
