[tool.poetry]
name = "brewblox-service"
version = "0.27.2"
description = "Scaffolding for Brewblox backend services"
authors = ["BrewPi <development@brewpi.com>"]
license = "GPL-3.0"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.7"
pprint = "^0.1"
aiohttp = "^3.6.2"
aiohttp-swagger = "^1.0.14"
aioamqp = "^0.14.0"
pyyaml = "^5.3.1"
aiomqtt = "^0.1.1"
deprecated = "^1.2.10"
async-timeout = "^3.0.1"

[tool.poetry.dev-dependencies]
flake8 = "^3.7.9"
pytest-flake8 = "^1.0.4"
pytest-cov = "^2.8.1"
pytest-mock = "^2.0.0"
pytest-aiohttp = "^0.3.0"
autopep8 = "^1.5"
aresponses = "^2.0.0"
pytest = "^5.4.1"
brewblox-dev = "^1.4.0"
flake8-quotes = "^2.1.1"
asyncmock = "^0.4.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
