SQLAlchemy>=1.1.3
Flask>=0.11.1
Flask-SQLAlchemy>=2.1
Flask-admin
flask-plugins
flask-cli
flask-shell-ipython
flask-rq2
flask-rq2[cli]
flask-restful

coloredlogs


-e git+https://github.com/m-mcgowan/controlbox-connect-py.git@develop#egg=controlbox-connector-py

# dev
pytest
pytest-flask
pytest-sugar
pytest-flake8
