SQLAlchemy==1.1.3
Flask==0.11.1
Flask-SQLAlchemy==2.1
Flask-admin
celery
flask-plugins
flask-restful
flask-script
coloredlogs

-e git+https://github.com/m-mcgowan/controlbox-connect-py.git@develop#egg=controlbox-connector-py

# dev
pytest
pytest-flask
pytest-sugar
pytest-flake8
